<div class="container">
	<div class="row">
		<div ng-include="'/templates/project_navigation.html'"></div>
		<h1>Grocery List</h1>

		<p>A simple grocery list in angularjs. Uses HTML5 local storage so you don't lose your changes.</p>

		<p>Head over to
			<a href="http://jakecoffman.github.io/grocery/">http://jakecoffman.github.io/grocery/</a> to try it out.
		</p>

		<p>
			<a href="http://jakecoffman.github.io/grocery" class="thumbnail">
				<img src="/static/grocery.png">
			</a>
		</p>
	</div>
</div>