h1 {
    font-size: 28px !important;
}

h2 {
    font-size: 24px !important;
}

h3 {
    font-size: 18px !important;
}

p {
    font-size: 18px;
}

.wrapper > ul {
    font-size: 18px;
}

.banner > .name {
    font-size: 14px !important;
}
