<div class="janky">
	<a href="/"><i class="fa fa-home"></i></a>
	<a href="#/blog"><i class="fa fa-file-word-o"></i></a>
</div>
<div class="container">
	<div class="row">
		<h2>Hiring from a Developer's Perspective</h2>
		<p>
			This past season I had the privilege of interviewing a software developer who would be working with
			me on a new major project at work. I've never had this opportunity at previous jobs, simply because
			my past employers were large companies. Since I'm at a startup and this person would be working only
			with me, I had a chance to be the master of my own destiny!
		</p>
		<h3>interviewing is exhausting</h3>
		<p>
			After interviewing two candidates for the position, I was beat. I was physically tired from
			spending an hour asking questions, trying to listen, writing down answers and impressions,
			and making sure I had a next question ready.
		</p>
		<p>
			I also got very little done that day as far as my "actual" work. I was too busy preparing
			questions and afterwards thinking about what just happened. Could I work with this person? Would
			they pull their weight? Would they promote a good culture?
		</p>
		<p>
			I had no energy left to code.
		</p>
		<h3>asking the right questions</h3>
		<p>
			I went into every interview with the spec for FizzBuzz ready to go, but I never used it. I
			felt I had a really good sense of the technical grasp of each of the candidates that came
			in. I knew when the candidate was just spouting a general concept or pattern because I asked
			some followup questions about that. I also gauged their technical curiosity by touching lightly on
			the project they would be working on with me. The stronger candidates asked more questions about it.
		</p>
		<p>
			My biggest desire in a candidate was to find someone that coded for fun, even a little bit, in their
			spare time. Developers who are interested in development as a hobby or solve their own problems with
			code are going to be more productive and interesting to work with. I'm surprised thinking back about
			the times I was interviewed that hardly any of them asked or looked at my Github account or even
			website!
		</p>
		<p>
			After the technical questions I tried to ask some behavioral questions. My goal was to find someone
			with the qualities described in the Personal Character chapter of Code Complete. Someone humble,
			smart but doesn't think they know everything, willing to communicate and compromise, and curious.
		</p>
		<p>
			I also spent a little bit of time selling them on the company, from a developers perspective of
			course. I feel like this isn't done enough especially in the current economy where developers
			have recruiters beating down their door.
		</p>
		<h3>proof is in the pudding</h3>
		<p>
			The candidate we hired is great and has affirmed that my approach to the interview was correct.
		</p>
		<p>
			While exhausting, this was a great experience to have been a part of. It was great to be on the
			other side of the table for once!
		</p>
	</div>
</div>