<div class="jumbotron">
	<div class="pad"></div>
	<div class="container">
		<div class="row">
			<h1>Jake Coffman</h1>

			<p>Full-Stack Software Developer</p>
			<ul class="list-inline" style="font-size: 0.7em">
				<li>Frontend</li>
				<li>-</li>
				<li>Backend</li>
				<li>-</li>
				<li>Design</li>
			</ul>
		</div>
	</div>
	<div class="pad"></div>
	<div class="pad"></div>
</div>
<div class="container">
	<div class="pad"></div>
	<div class="row">
		<h2>Introducing Jake.</h2>

		<div class="col-sm-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/mvc.png"></div>
			<h3>Full-Stack</h3>

			<p>Jake is comfortable in any layer of the software stack, whether the architecture is n-tier or
				MVC.</p>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/ch.png"></div>
			<h3>Software hobbyist</h3>

			<p>Jake considers software a hobby and finds it fun to learn new things about writing (and
				reading!)
				software.</p>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/initech.png"></div>
			<h3>Gets things done</h3>

			<p>Jake values shipped products. What good is software that is constantly being refactored but
				never released?</p>
		</div>
	</div>
	<div class="pad"></div>
	<div class="pad"></div>
</div>
<div id="projects">
	<div class="container">
		<div class="pad"></div>
		<div class="row">

			<h2>Projects</h2>

			<p>Here is a selection of Jake's projects. Click to read about each.</p>

			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="#projects/gorunner" class="thumbnail">
						<img src="/static/thumbs/gorunner.png">
					</a>

					<div class="caption">
						gorunner
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="#projects/alarm" class="thumbnail">
						<img src="/static/thumbs/arduino.png">
					</a>

					<div class="caption">
						arduino security system
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="#projects/flask_tutorial" class="thumbnail">
						<img src="/static/thumbs/flask.png">
					</a>

					<div class="caption">
						flask tutorial
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="#projects/taskpy" class="thumbnail">
						<img src="/static/thumbs/taskpy.png">
					</a>

					<div class="caption">
						taskpy
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-offset-1 col-md-3">
				<div class="thumbnail">
					<a href="#projects/gameoflife" class="thumbnail">
						<img src="/static/thumbs/gol.png">
					</a>

					<div class="caption">
						game of life
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="#projects/desk" class="thumbnail">
						<img src="/static/thumbs/desk.jpg">
					</a>

					<div class="caption">
						standing desk
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="#projects/jobs" class="thumbnail">
						<img src="/static/thumbs/jobs.png">
					</a>

					<div class="caption">
						st louis jobs
					</div>
				</div>
			</div>
		</div>
		<div class="pad"></div>
		<div class="pad"></div>
	</div>
</div>
<div class="container">
	<div class="pad"></div>
	<div class="row">
		<h2>Experience</h2>

		<p>Jake has 7 years of professional software development experience. Here are a few of his favorite
			technologies.</p>

		<div class="row">
			<div class="col-sm-6 col-md-3" ng-repeat="l in logos">
				<a href="" class="thumbnail">
					<img ng-src="/static/experience/{{l.image}}" alt="{{l.alt}}">
				</a>
			</div>
		</div>
	</div>
	<div class="pad"></div>
	<div class="pad"></div>
</div>
<div id="contact">
	<div class="container">
		<div class="pad"></div>
		<div class="row">
			<h2>Contact</h2>

			<p>Choose your own adventure:</p>

			<div class="col-sm-offset-3 col-sm-6">
				<a href="http://twitter.com/nill" class="btn btn-primary"><i class="fa fa-twitter"></i></a>
				<a href="http://lnkd.in/gP7PCE" class="btn btn-primary"><i class="fa fa-linkedin"></i></a>
				<a href="http://stackoverflow.com/users/24638/jake" class="btn btn-primary"><i class="fa fa-stack-overflow"></i></a>
				<a href="https://www.youtube.com/user/calicoJake" class="btn btn-primary"><i class="fa fa-youtube"></i></a>
				<a href="https://github.com/jakecoffman" class="btn btn-primary"><i class="fa fa-github"></i></a>
			</div>

		</div>
		<div class="pad"></div>
		<div class="pad"></div>
	</div>
</div>