<div class="jumbotron">
	<div class="pad"></div>
	<div class="container">
		<div class="row">
			<h1>Jake Coffman</h1>

			<p>Full-Stack Software Developer</p>
			<ul class="list-inline" style="font-size: 0.7em">
				<li>Frontend</li>
				<li>-</li>
				<li>Backend</li>
				<li>-</li>
				<li>Design</li>
			</ul>
		</div>
	</div>
	<div class="pad"></div>
	<div class="pad"></div>
</div>
<div class="container">
	<div class="row">
		<center>
		<a href="https://medium.com/@nill" class="btn btn-success">
			Some Blog &nbsp;<i class="fa fa-file-word-o"></i>
		</a>
		<a href="#projects/gorunner" class="btn btn-success">
			Some Projects &nbsp;<i class="fa fa-rocket"></i>
		</a>

		</center>
	</div>

	<div class="pad"></div>
	<div class="row">
		<h2>Introducing Jake.</h2>

		<div class="col-sm-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/mvc.png"></div>
			<h3>Full-Stack</h3>

			<p>Jake is comfortable in any layer of the software stack, whether the architecture is n-tier or
				MVC.</p>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/ch.png"></div>
			<h3>Software hobbyist</h3>

			<p>Jake considers software a hobby and finds it fun to learn new things about writing (and
				reading!)
				software.</p>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/initech.png"></div>
			<h3>Gets things done</h3>

			<p>Jake values shipped products. What good is software that is constantly being refactored but
				never released?</p>
		</div>
	</div>
	<div class="pad"></div>
	<div class="pad"></div>
</div>
<div id="contact">
	<div class="container">
		<div class="pad"></div>
		<div class="row">
			<h2>Contact</h2>

			<p>Choose your own adventure:</p>

			<center>
				<a href="http://twitter.com/nill" class="btn btn-primary"><i class="fa fa-twitter"></i></a>
				<a href="http://lnkd.in/gP7PCE" class="btn btn-primary"><i class="fa fa-linkedin"></i></a>
				<a href="http://stackoverflow.com/users/24638/jake" class="btn btn-primary"><i class="fa fa-stack-overflow"></i></a>
				<a href="https://www.youtube.com/user/calicoJake" class="btn btn-primary"><i class="fa fa-youtube"></i></a>
				<a href="https://github.com/jakecoffman" class="btn btn-primary"><i class="fa fa-github"></i></a>
			</center>

		</div>
		<div class="pad"></div>
		<div class="pad"></div>
	</div>
</div>